[submodule "makeEspArduino"]
	path = makeEspArduino
	url = https://github.com/rodb70/makeEspArduino.git
[submodule "lib/ESPAsyncTCP"]
	path = lib/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/Aircoookie/ESPAsyncWebServer.git
[submodule "lib/ESPAsyncUDP"]
	path = lib/ESPAsyncUDP
	url = https://github.com/me-no-dev/ESPAsyncUDP.git
[submodule "lib/FastLED"]
	path = lib/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "lib/NeoPixelBus"]
	path = lib/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git

